 <div>
     <button (click)="reset()" class="btn btn-primary" style="float:left; margin: 10px" *ngIf="student_status">RESET</button>
       <div class="col-md-12 status">
           <div *ngIf="successMessage" class="alert alert-success" style="text-align: center">{{successMessage|uppercase}}</div>
           <br><br>
             <form #f="ngForm" (ngSubmit)="onProceed(f)" *ngIf="!student_status">
                <div class="form-group">
                  <label class="label label-primary">NEW STUDENT</label> <input  type="radio" name="status" [(ngModel)]="new" value="new" style="float:right">
                </div>
               <div class="form-group">
                 <label class="label label-primary">TRANSFER STUDENT</label> <input type="radio" name="status" [(ngModel)]="transfer" value="transfer" style="float:right">
               </div>
                <!-- <div class="form-group">
                     <label class="label label-primary">REMOVE STUDENT</label> <input type="radio" name="status" [(ngModel)]="remove" value="remove" style="float:right">
                 </div>--><br><br>
               <button type="submit" class="btn btn-primary">PROCEED</button>

             </form>

           <!--ADD NEW STUDENT-->
           <form #f="ngForm" (ngSubmit)="onNew(f)" *ngIf="new_student">
               <div class="form-group">
                   <label class="label label-primary">STUDENT SURNAME</label> <input class="form-control" type="text" name="surname" [(ngModel)]="surname" value="SURNAME" style="float:right" required>
               </div>
               <div class="form-group">
                   <label class="label label-primary">REG NO.</label> <input class="form-control" type="number"  value="{{lastRegno}}" style="float:right" disabled>
               </div>
               <div class="form-group" *ngIf="level_status">
                   <label class="label label-primary">LEVEL</label>
                   <select id="level" name="level" class="form-control" ngModel required>
                       <option>100</option>
                       <option>200</option>
                       <option>300</option>
                       <option>400</option>
                       <option>500</option>
                   </select>
               </div>
               <div class="form-group">
                   <label class="label label-primary">YEAR OF ENTRY</label>
                   <select id="yob" name="entry" class="form-control" ngModel required>
                       <option>2017</option>
                       <option>2018</option>
                       <option>2019</option>
                       <option>2020</option>
                   </select>
               </div>
               <div class="form-group">
                   <label class="label label-primary">ASSIGN FACULTY</label>
                   <select [(ngModel)]="faculty" name="faculty" class="form-control" (change)="onGetFaculty()" (click)="dept=true" required>
                       <option></option>
                       <option *ngFor="let editfacu of editfaculty">{{editfacu.facultyName}}</option>
                   </select>
               </div>

               <span *ngIf="dept">
                   <div *ngIf="!showDept" style="text-align: center">
                   <i class="fa fa-spinner fa-pulse fa-3x fa-fw"  style="text-align: center;color:dodgerblue;font-size: 2em"></i>
                   <span class="sr-only"></span>
               </div>
              <div class="form-group" *ngIf="showDept">
                <label class="label label-primary">ASSIGN DEPARTMENT</label>
                <select [(ngModel)]="department" name="department" class="form-control" required>
                  <option></option>
                  <option *ngFor="let editdept of getDepartments">{{editdept.department}}</option>
                </select>
              </div>
              </span>
               <div class="form-group">
                   <label class="label label-primary">STUDENT EMAIL</label><br> <label>{{surname}}.{{regno}}@schoolname.com</label></div>
               <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">PROCEED</button>

           </form>

           <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="preview">
                <h2>PREVIEW</h2>
               <!--<div class="form-group">-->
                   <!--<label class="label label-primary">STUDENT NAME</label> <label style="float:right">{{surname}}</label>-->
               <!--</div>-->
               <div class="form-group">
                   <label class="label label-primary">REG NO.</label> <label style="float:right">{{sch_reg}}</label>
               </div>
               <div class="form-group">
                   <label class="label label-primary">LEVEL</label><label style="float:right">{{level}}</label>
               </div>
               <div class="form-group">
                   <label class="label label-primary">YEAR OF ENTRY</label><label style="float:right">{{entry_year}}</label>
               </div>
               <div class="form-group">
                   <label class="label label-primary">STUDENT EMAIL</label><label style="float:right">{{student_email}}</label>
               </div><br><br>
               <button type="submit" class="btn btn-primary">SUBMIT</button>
           </form>

           <!--REMOVE STAFF-->
           <!--<form #f="ngForm" (ngSubmit)="onRemove(f)" *ngIf="remove_student">
               <div class="form-group" >
                   <label class="label label-primary">REMOVE STUDENT</label>
                   <select [(ngModel)]="regno" name="regno" (change)="onChange()" class="form-control">
                       <option></option>
                       <option *ngFor="let getStudent of getStudents">
                           {{getStudent.email}}
                       </option>
                   </select>
               </div>
               <div *ngIf="delete_details">
                   <label class="label label-primary">FIRSTNAME:</label> <label class="label label-default details">{{getStudent.firstname}}</label>
                   <br><br>
                   <label class="label label-primary">MIDDLENAME:</label> <label class="label label-default details">{{getStudent.middlename}}</label>
                   <br><br>
                   <label class="label label-primary">SURNAME:</label> <label class="label label-default details">{{getStudent.surname}}</label>
                   <br><br>
                   <label class="label label-primary">REG.NO:</label> <label class="label label-default details">{{getStudent.regno}}</label>
                   <br><br>
                   <label class="label label-primary">DEPARTMENT:</label> <label class="label label-default details">UNDEFINED</label>
               </div><br>
               <button type="submit" class="btn btn-primary" *ngIf="delete_details">REMOVE</button>
           </form>
           <!--END REMOVE STAFF-->

       </div>
   </div>