<header id="header" class="header">
  <div class="container">
    <!-- NAVIGATION -->
    <nav class="navigation">

      <div class="open-menu">
        <span class="item item-1"></span>
        <span class="item item-2"></span>
        <span class="item item-3"></span>
      </div>

      <!-- MENU -->
      <ul class="menu">
        <li class="current-menu-item"><a routerLink="/home" routerLinkActive="active selected">Home</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">Administration</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">Campuses</a></li>
        <li class="current-menu-item"><a routerLink="/library" routerLinkActive="active selected">Library</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">Alumni</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">Ict Unit</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">Timetable</a></li>
        <li class="current-menu-item"><a routerLink="" routerLinkActive="active selected">New</a></li>
        <li class="menu-item-has-children">
          <a routerLink="/portal" routerLinkActive="active selected">Login</a>
          <!--<ul class="sub-menu">-->
            <!--<li><a routerLink="/portal" routerLinkActive="active selected">Login</a></li>-->
            <!--&lt;!&ndash;<li><a routerLink="/staff_portal" routerLinkActive="active selected">Staff Login</a></li>&ndash;&gt;-->
          <!--</ul>-->
        </li>
      </ul>
      <!-- END / MENU -->

      <!-- SEARCH BOX -->
      <div class="search-box">
        <i class="icon md-search"></i>
        <div class="search-inner">
          <form>
            <input type="text" placeholder="key words">
          </form>
        </div>
      </div>
      <!-- END / SEARCH BOX -->
    </nav>
    <!-- END / NAVIGATION -->

  </div>
</header>
