.section{
    padding-top:3%;
    padding-left:10%;
}
form{
    padding: 15px;
    width:60%;
}
.header{
    text-align: center
}
.thewide{
    width: 80%;
    margin-left: 10%;
}

div form div{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;

}

div form div label{

}