<div *ngIf="emptyAssignment" class="alert alert-warning" style="text-align: center; font-weight: bold">
    {{emptyAssignment}}
</div>
<div class="col-md-12" *ngIf="!emptyAssignment">
    <!--GET THE DETAIL INFO OF THE STAFF-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content"  *ngIf="showDetail">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ASSIGNMENT DETAILS</h4>
                </div>

                <div class="modal-body" style="height: 250px;">
                    <div style="float:right">
                        <img *ngIf="staffImg" [src]="staffImg" height="150px" width="150px" class="staff_dp">
                        <img *ngIf="!staffImg" src="../../../assets/img/loading.gif" height="150px" width="150px" class="staff_dp">
                    </div>
                    <div class="modal_item"><label class="label" style="color:#2b2b2b;">NAME</label></div>
                    <div><span class="label label-primary">{{getStaffDetails.firstname}}  {{getStaffDetails.middlename}}  {{getStaffDetails.surname}}</span>
                    </div>
                    <div class="modal_item"><label class="label" style="color:#2b2b2b">QUALIFICATION</label></div>
                    <div> <span class="label label-primary">{{getStaffDetails.qualification}}</span>
                    </div>
                    <div class="modal_item"><label class="label" style="color:#2b2b2b">EMAIL</label></div>
                    <div> <span class="label label-primary">{{getStaffDetails.email}}</span>
                    </div>
                    <div class="modal_item"><label class="label" style="color:#2b2b2b">COURSE</label></div>
                    <div><span class="label label-primary">{{getStaffDetails.course}}</span>
                    </div>
                    <div class="modal_item"><label class="label" style="color:#2b2b2b">DEPARTMENT</label></div>
                    <div><span class="label label-primary">{{getStaffDetails.department}}</span>
                    </div>
                    <div class="btn btn-success" style="margin: 5% 0 0 25%;" (click)="onDownload(getStaffDetails.upload_name)">
                        download here:<i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>

    <!--END OF GET THE DETAIL INFO OF THE STAFF-->
    <!--LIST OF ASSIGMNENTS-->
    <table  class="table table-stripped" id="myTable">
        <thead>
            <tr>
                <th>COURSE</th>
                <!--<th>ASSIGNMENT</th>-->
                <th>DEPARTMENT</th>
                <th>DATE OF CREATION</th>
                <th>SUBMISSION DATE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewall of view_all_assignment">
                <td>{{viewall.course}}</td>
                <!--<td>{{viewall.note}}</td>-->
                <td>{{viewall.department}}</td>
                <td>{{viewall.created_at}}</td>
                <td></td>
                <td><a class="btn btn-primary" (click)="onView(viewall.id)" data-toggle="modal" data-target="#myModal">VIEW</a></td>
                <td><a class="btn btn-danger" (click)="onDelete(viewall.id)" aria-label="Delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!view_all_assignment">
    <div style="text-align: center"><i class="fa fa-spin fa-spinner"  style="text-align: center;color:dodgerblue;
	         font-size: 10em"></i></div>
</div>