.row{
    margin: 0;
    padding: 0;
}
label{
    padding:10px;
    margin-top:10px;
    cursor: pointer;
}
.download{
    width: 8px;
}
.col-md-12{
    padding: 7%;
}
.modal_item{
    width: 100px;
    float: left;
    margin-left:30px
}