<div class="row">
  <div class="col-md-12">
    <label class="label label-primary" style="float:right" >Previous Question</label>
  </div>
</div>
<div class="form">
  <form>
    <div class="form-group">
      <label for="name">Lecturer Name</label>
      <input type="text" class="form-control" id="name" placeholder="NAME">
    </div>
    <div class="form-group">
      <label>Level</label>
      <select class="form-control">
        <option>YEAR 1</option>
        <option>YEAR 2</option>
        <option>YEAR 3</option>
        <option>YEAR 4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="question">Question</label>
      <textarea type="text" class="form-control" id="question" placeholder=""></textarea>
    </div>

    <button type="submit" class="btn btn-default">Send Question</button>
  </form>

</div>